body{
    background:#f9f9f9;
    font-family:"Museo Sans Cyrl",sans-serif;
    }

main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:50px auto;
    width:1176px;
    }


header{
    width:1000px;
    margin:80px auto;
    padding-left:50px;
    color: #52545e;
    }

.animation-block{
    width:300px;
    background:white;
    border-radius:7px;
    margin: 0 5px 28px;
    cursor:pointer;
    line-height: 1.8em;
    display:flex;
    flex-direction:column;
    padding: 13px 15px 55px 40px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.06);
    transition:all 0.15s ease-in-out;
    }

.animation-block .num,.title{
    color:#ca5c24;
    font-size:14px;
    letter-spacing:2px;
    font-weight: 900;
    }

.num{
    display:flex;
    justify-content:flex-end;
    }

.title,.text{
    margin:10px 0;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    }

.text{
    font-size: 17px;
    line-height: 1.6em;
    color: rgba(83, 83, 83, 0.85);
    padding-right:10px;
    }

.animation-block:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 30px 0 rgba(0,0,0,.1);
    }

@media screen and (max-width: 1160px){
    header{
        width:90%;
        padding-left:10px;
    }

    main{
        width:100%;
    }
}

@media screen and (max-width:1024px){
    .animation-block{
        width:38%;
       }

    header{
        padding-left:50px;
    }
}


@media screen and (max-width: 575px){
    header{
        padding-left:15px;
    }
    .animation-block{
        width:85%;
    }
}